<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>Controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>Controller.VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductServlet</servlet-name>
        <servlet-class>Controller.AllProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManage</servlet-name>
        <servlet-class>Controller.ProductManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagerment</servlet-name>
        <servlet-class>Controller.AccountManagerment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManage</servlet-name>
        <servlet-class>Controller.CustomerManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>Controller.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>Controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductServlet</servlet-name>
        <url-pattern>/allproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManage</servlet-name>
        <url-pattern>/pmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagerment</servlet-name>
        <url-pattern>/accountmanagerment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManage</servlet-name>
        <url-pattern>/customermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/deleteac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
</web-app>
